.hero {
  background: url('../../assets/pics/NYC-Skyline2.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  filter: brightness(0.8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: clamp(25vh, 50vh, 60vh);

}

.hero h1 {
  position: relative;
  font-weight: 600;
  bottom: -150px;
  font-size: clamp(2rem, 6vw, 5rem);
  color: transparent;
  background-clip: text;
  background-image: linear-gradient( rgb(221, 228, 232), rgba(255, 255, 255,0.9), rgba(196, 225, 246, 0.8));
  letter-spacing: -4px;
  text-shadow: 4px 3px 1px rgb(6, 19, 93);
}

@media (max-width: 768px) {
  .hero h1 {
    text-shadow: 2px 2px 1px rgb(6, 19, 93);
    letter-spacing: -2px;

  }
}