#my-portrait {
  width: 20%;
  border-radius:7%;
  box-shadow: 2px 2px 4px rgb(32, 32, 32), -2px -2px 4px rgb(216, 211, 211);
}

.about {
  justify-self: center;
  padding: 40px 0;
  width: 90%;
  display: flex;
  position: relative;
  top: -40px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 45deg, rgba(0, 255, 255, 0.3), rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.3));
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4), -4px -4px 2px rgba(234, 229, 229, 0.4);
  backdrop-filter: blur(2px);
}
