header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100dvw;
  background: linear-gradient(var(--darkness), rgba(2, 21, 38, 0.5 ), rgba(3, 52, 110, 0.3), rgba(3, 52, 110,0));
  padding: 2% 0;
}

nav {
  display: flex;  
  justify-content: right;
}  



.contact-btn {
  background-color: rgb(6, 19, 93);
  margin-right: 1.5%;
}


a {
  display: contents;

}