@font-face {
  font-family: roboto;
  src: url("../assets/fonts/roboto/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: roboto-slab;
  src: url("../assets/fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf");
}
:root {
--darkness: rgb(2, 21, 38);
--darkblue: rgb(3, 52, 110);
--blue: rgb(110, 172, 218);
--turquoise: Turquoise ;
}

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: roboto;
  margin: 0%;
  padding: 0%;
  border: 0%;
  scroll-behavior: smooth;
}

body {
  color: white;
  width: auto;
  margin: 0%;
  padding: 0%;
  border: 0%;
  overflow-x: hidden;
  background-color: rgb(166, 228, 228);
}

.hidden {
  display: none;
}


h2 {
  margin: 5%;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2%;
}

h2, h3, p {
  text-shadow: 1px 1px 5px black ;
}

main {
  position: relative;
  opacity: 0;
  transform: translateY(-100%);
}

main.slide-in {
  animation: contentSlideIn 1.5s ease-out forwards;
}



@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    filter: brightness(0.5);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

#loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  flex-direction: column;
  pointer-events: none; /* let you interact with elements underneath after transition */
}

#loader-backdrop video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#loader-backdrop h3 {
  z-index: 20;
  font-weight: 600;
  position: absolute;
  text-align: center;
  bottom: 20vh;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(192, 0, 0);
  color: white;
}

.slide-down {
  animation: slideDown 1.5s ease-in forwards;
}

@keyframes contentSlideIn {
  0% {
    transform: translateY(-700px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.main-content {
  opacity: 0;
  
}

.slide-in {
  animation: contentSlideIn 1.2s ease-out 0.5s forwards;
}





@media (max-width: 1400px) {
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.6em;
  }
  h2, h3 {
    font-size: 1.5em;
  }
  .gallery-text p {
    margin: 0;
    padding: 2%;
    text-align: center;
    font-size: 1em;
  }
    .gallery-item {
    display: grid;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 1.8em;
  }
  h2, h3 {
    font-size: 1.2em;
  }
  .gallery-text p {
    margin: 0;
    padding: 2%;
    text-align: center;
    font-size: 1em;
  }
    .gallery-item {
    display: grid;
  }
  footer {
    padding: 15%;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  h2, h3 {
    font-size: 0.9em;
  }
  .gallery-text p {
    margin: 0;
    padding: 1.5%;
    text-align: center;
    font-size: 0.8em;
  }
  .gallery-item {
    display: block;
  }
  .gallery-item img {
    margin: 5% 0;
  }
  
}

@media (max-width: 600px) {
  .bust {
    border: 8px solid var(--blue);
  }
  h1 {
    font-size: 1.3em;
  }
  h2, h3 {
    font-size: 0.8em;
  }
  .gallery-text p {
    margin: 0;
    padding: 1.5%;
    text-align: center;
    font-size: 0.7em;
  }
  .gallery-item {
    display: block;
  }
  footer {
    padding: 15%;
  }
}
