footer {
  height: 20vh;
  background: linear-gradient( rgb(231, 231, 231), rgb(231, 231, 231), var(--darkblue),var(--darkness));
  font-weight: 500;
  text-shadow: 3px 3px 4px black;
  color: rgb(231, 231, 231);
  background-size: cover;
  padding: 10%;
  text-align: center;
}

footer svg {
  transition: all 0.25s;
  margin: 1em 0.75em;
  width: 2.2em;
  height: 2.2em;
  color: white;
  fill: white;
}

footer svg:hover {
  transform: scale(1.2);
  fill: rgb(210, 212, 255);
}

.social-card {
  margin: 0.5%;
}

@media (max-width: 500px ) {
  .social-icons {
    margin: 1em 0.5em;
    width: 1.2em;
    height: 1.2em;
  }
}